<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Math Problem Generator</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        body{
            font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
        }

        label{
            font-size: 12px;
        }

        input{
            width: 40px;
        }

        .container ul{
            padding: 0;
        }

        .container li{
            display: inline-block;
            width: 300px;
            padding: 4px;
        }

        .question{
            display: inline-block;
        }

        .index{
            display: inline-block;
            width: 50px;
        }


        .question-body{
            display: inline-block;
        }

        .answer{
            display: inline-block;
            width: 50px;
        }

        .token{
            display: inline-block;
            width: 26px;
            white-space: pre;
        }

        .footer label{
            margin: 2px 10px;
        }

        .options span{
            border: 1px solid #ddd;
            padding: 6px 8px;
        }

        @media print{
            .options{
                display: none;
            }
        }

        @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
            .options span{
                display: block;
            }

            .options span label{
                display: inline-block;
                width: 180px;
            }

            .options button{
                float: right;
            }
        }
    </style>
</head>
<body>
    <div id="app" class="container">
        <div>
            <h3>Simple Math Problem Generator / 简易数学题生成器 - jinweijie</h3>
        </div>
        <div class="options">
            <span>
                <label>Min / 最小值:</label>
                <input type="number" v-model="min" />
            </span>

            <span>
                <label>Max / 最大值:</label>
                <input type="number" v-model="max" />
            </span>

            <span>
                <label>Problem Number / 题目数:</label>
                <input type="number" v-model="problemCount" />
            </span>
  
            <span>
                <label for="answerOnRightOnly">Answer on right / 填空只在等号右边:</label>
                <input id="answerOnRightOnly" type="checkbox" v-model="answerOnRightOnly" />
            </span>

            <span>
                <label for="twoNumberPlusMinus">2-Num +- / 两个数加减:</label>
                <input id="twoNumberPlusMinus" type="checkbox" v-model="twoNumberPlusMinus" />
            </span>

            <span>
                <label for="threeNumberPlusMinus">3-Num +- / 三个数加减:</label>
                <input id="threeNumberPlusMinus" type="checkbox" v-model="threeNumberPlusMinus" />
            </span>
            <button v-on:click="generate()">Generate / 生成</button>
        </div>
        <div>
            <ul>
                <li v-for="(item, i) in items">
                        <div class="question">
                            <span class="index">({{i + 1}})</span>
                            <span class="question-body" v-for="(token, j) in item"><span class="answer" v-if="token == CONSTS.ANSWER_PH">{{token}}</span><span class="token" v-if="token != CONSTS.ANSWER_PH">{{token}}</span></span>
                        </div>
                </li>
            </ul>
        </div>
        <div class="footer">
            <label>Name / 姓名: _______________</label>
            <label>Date / 日期: {{getCurrentDate()}}</label>
        </div>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                CONSTS :{
                    ANSWER_PH : '[ 　 ]'
                },
                min: 0,
                max: 10,
                problemCount: 30,
                twoNumberPlusMinus: true,
                threeNumberPlusMinus: false,
                answerOnRightOnly: false,
                items : []//this.genPlus1(0, 10) //[['1','+','1','=','2'],]
            },
            computed:{
                
            },
            methods:{
                getCurrentDate : function(){
                    var d = new Date(),
                        month = '' + (d.getMonth() + 1),
                        day = '' + d.getDate(),
                        year = d.getFullYear();

                    if (month.length < 2) month = '0' + month;
                    if (day.length < 2) day = '0' + day;

                    return [year, month, day].join('-');
                },
                pickRandom: function(a, n){
                    this.shuffle(a);
                    return a.slice(0, n);
                },
                shuffle: function(a) {
                    for (let i = a.length; i; i--) {
                        let j = Math.floor(Math.random() * i);
                        [a[i - 1], a[j]] = [a[j], a[i - 1]];
                    }
                },
                getMix_2_1: function(min, max){
                    var result = [];
                    
                    for(var i = min; i <= max; i++){
                        for(var j = min; j <= max; j++){
                            for(var x = min; x <= max; x++){
                                
                                // 1 + 1 = [ ]
                                if( i + j == x ){
                                    result.push( [i, '+', j, '=', this.CONSTS.ANSWER_PH ]);
                                }

                                // 2 - 1 = []
                                if( i - j == x){
                                    result.push( [i, '-', j, '=', this.CONSTS.ANSWER_PH]);
                                }

                                if( !this.answerOnRightOnly ){
                                    
                                    if( i + x == j ){
                                        // 1 + [] = 2
                                        result.push( [i, '+', this.CONSTS.ANSWER_PH , '=', j]);
                                    }
                                    
                                    if( x + i == j ){
                                        // [] + 1 = 2
                                        result.push( [this.CONSTS.ANSWER_PH, '+', i, '=', j]);
                                    }

                                    // 2 - [] = 1
                                    if( i - x == j ){
                                        result.push( [i, '-',this.CONSTS.ANSWER_PH , '=', j]); 
                                    }

                                    // [] - 2 = 1
                                    if( x - i == j ){
                                        result.push( [this.CONSTS.ANSWER_PH, '-',i , '=', j]);
                                    }
                                }
                            }
                        }                
                    }

                    return result;
                },
                genMix_3_1: function(min, max){
                    var result = [];
                    
                    for(var i = min; i <= max; i++){
                        for(var j = min; j <= max; j++){
                            for(var k = min; k <= max; k++){
                                for(var x = min; x <= max; x++){
                                    //1 + 1 + 1= [ ]
                                    if( i + j + k == x){ 
                                        result.push( [i, '+', j, '+', k, '=', this.CONSTS.ANSWER_PH ]);
                                    }

                                    //1 + 1 - 1= [ ]
                                    if(i + j - k == x && i + j <= max){
                                        result.push( [i, '+', j, '-', k, '=', this.CONSTS.ANSWER_PH ]);
                                    }

                                    //1 - 1 + 1= [ ]
                                    if(i - j + k == x && i >= j){
                                        result.push( [i, '-', j, '+', k, '=', this.CONSTS.ANSWER_PH ]);
                                    }

                                    //2 - 1 - 1= [ ]
                                    if(i - j - k == x){
                                        result.push( [i, '-', j, '-', k, '=', this.CONSTS.ANSWER_PH ]);
                                    }

                                    if( !this.answerOnRightOnly ){
                                        
                                        //[ ] + 1 + 1 = 2 
                                        if( x + i + j == k ){
                                            result.push( [this.CONSTS.ANSWER_PH, '+', i, '+', j, '=', k ]);
                                        }

                                        //1 + [ ] + 1 = 2
                                        if(i + x + j == k){
                                            result.push( [i, '+', this.CONSTS.ANSWER_PH , '+', j, '=', k ]);
                                        }
                                        
                                        //1 + 1 + [ ] = 2
                                        if(i + j + x == k){
                                            result.push( [i, '+', j, '+', this.CONSTS.ANSWER_PH , '=', k ]);
                                        }

                                        //[] - 1 + 1 = 1
                                        if( x - i + j == k && x >= i){
                                            result.push( [this.CONSTS.ANSWER_PH, '-', i, '+', j, '=', k ]);
                                        }
                                    
                                        //2 - [] + 1 = 1
                                        if( i - x + j == k && i - x >= 0){
                                            result.push( [i, '-', this.CONSTS.ANSWER_PH, '+', j, '=', k ]);
                                        }
                                    
                                        //2 - 1 + [] = 1
                                        if(i - j + x == k && i >= j){
                                            result.push( [i, '-', j, '+', this.CONSTS.ANSWER_PH, '=', k ]);
                                        }
                                    
                                        //[] + 1 - 1 = 1
                                        if( x + i - j == k && i + x <= max ){
                                            result.push( [this.CONSTS.ANSWER_PH, '+', i, '-', j, '=', k ]);
                                        }

                                        //2 + [] - 1 = 1
                                        if( i + x - j == k && i + x <= max ){
                                            result.push( [i, '+', this.CONSTS.ANSWER_PH, '-', j, '=', k ]);
                                        }
                                
                                        //2 + 1 - [] = 1
                                        if( i + j - x == k && i + x <= max ){
                                            result.push( [i, '+', j, '-', this.CONSTS.ANSWER_PH, '=', k ]);
                                        }
                                
                                        //[] - 1 - 1 = 1
                                        if( x - i - j == k && i + x <= max ){
                                            result.push( [this.CONSTS.ANSWER_PH, '-', i , '-', j , '=', k ]);
                                        }

                                        //2 - [] - 1 = 1
                                        if( i - x - j == k && i + x <= max ){
                                            result.push( [i, '-', this.CONSTS.ANSWER_PH , '-', j , '=', k ]);
                                        }

                                        //2 - 1 - [] = 1
                                        if( i - j - x == k && i + x <= max ){
                                            result.push( [i, '-', j , '-', this.CONSTS.ANSWER_PH , '=', k ]);
                                        }
                                    }
                                }
                            }
                        }                
                    }

                    return result;
                },
                generate: function(){
                    var total = [];

                    if( this.twoNumberPlusMinus ){ 
                        var mix_2_1 = this.getMix_2_1(this.min, this.max);                        
                        var total = total.concat(mix_2_1);
                    }

                    if( this.threeNumberPlusMinus ){
                        var mix_3_1 = this.genMix_3_1(this.min, this.max);
                        var total = total.concat(mix_3_1);
                    }

                    this.items = this.pickRandom(total, this.problemCount);
                }
            },
            created: function(){
                this.generate();
            }
        });

    </script>   
</body>
</html>